 



/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;


}

/* Button styles */
.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #2980b9;
}

/* Form styles */
.form-group {
  margin-bottom: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

.container{
  border-style: double;
}

